/****** Object:  Database [AgenciaAuto]    Script Date: 21/04/2021 07:21:27 ******/
DROP DATABASE IF EXISTS [AgenciaAuto]
Go
CREATE DATABASE [AgenciaAuto]
Go

USE [AgenciaAuto]
GO
/****** Object:  Table [dbo].[tb_Veiculos]    Script Date: 21/04/2021 07:10:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Veiculos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](60) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Ano] [smallint] NOT NULL,
	[Fabricacao] [smallint] NOT NULL,
	[Cor] [varchar](10) NOT NULL,
	[Combustivel] [tinyint] NOT NULL,
	[Automatico] [bit] NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[Ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Veiculos] ON 

INSERT [dbo].[tb_Veiculos] ([Id], [Nome], [Modelo], [Ano], [Fabricacao], [Cor], [Combustivel], [Automatico], [Valor], [Ativo]) VALUES (1, N'FORD FIESTA', N'1.0 MPI PERSONNALITÉ SEDAN 4P ', 2005, 2005, N'Prata', 1, 0, CAST(11550.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[tb_Veiculos] ([Id], [Nome], [Modelo], [Ano], [Fabricacao], [Cor], [Combustivel], [Automatico], [Valor], [Ativo]) VALUES (2, N'KIA CERATO', N'1.6 EX3 SEDAN 16V 4P A', 2012, 2011, N'Prata', 1, 1, CAST(32550.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[tb_Veiculos] ([Id], [Nome], [Modelo], [Ano], [Fabricacao], [Cor], [Combustivel], [Automatico], [Valor], [Ativo]) VALUES (3, N'HYUNDAI HB20', N'1.0 COMFORT 12V FLEX 4P ', 2017, 2016, N'Branco', 3, 0, CAST(38745.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[tb_Veiculos] OFF
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=gasolina 2=álcoll 3=flex 4=diesel 5=gas natural' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_Veiculos', @level2type=N'COLUMN',@level2name=N'Combustivel'
GO
USE [master]
GO